<h1><%= @song.title %></h1>
<p>Artist: <%= @artist.name %></p>
<p>Album: <%= @song.album %></p>
<p>Release Date: <%= @song.release_date %></p>
<p>Lyrics: <%= @song.lyrics %></p>
<br />
<%= link_to "Back", artist_songs_path(@artist) %>